.mainNavigation {
    width: 100%;
    height: 4.5rem;
    background-color: #ede9fe;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

.mainNavigation nav {
    display: flex;
    width: 100%;
    max-width: 1170px; ;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} 
.mainNavigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainNavigation li {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
}

.mainNavigation a {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.mainNavigation a:hover,
.activeLink  {
    color: #fff;
    background-color: #8f59e5;
}


.cartLink {
    position: relative;
}

.mainNavigation span {
    position: absolute;
    right: -9px;
    top: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #6d28d9;
    color: #fff;
    font-size: 15px;
}

